{{ define "content" }}
<div class="container">
  <p><a href="/activity" class="backButton"><< Back to My Activity page</a></p>
  {{ if .User.LoggedIn }}
  {{ if eq .Comment.ID "" }}
  <h2>Edit Post</h2>
  <div class="editPost">
    <form id="editPost" method="POST" action="/edit/" enctype="multipart/form-data" onsubmit="return validateForm()">
      <input type="hidden" name="type" value="post">
      <input type="hidden" name="id" value="{{ .Post.ID }}">
      <label for="title">Title:</label>
      <br>
      <input type="text" id="title" name="title" value="{{ .Post.Title }}" maxlength="130" required>
      <br>
      <label for="description">Description:</label>
      <br>
      <textarea id="description" name="description" maxlength="1000" required>{{ .Post.Description }}</textarea>
      <br>
      <label for="image">Image:</label>
      {{ if .Post.ImageFileName }}
      <br>
      <img class="postImage" src="../assets/uploads/{{ .Post.ImageFileName }}" alt="Post image">
      {{ end }}
      <br>
      <input type="file" id="image" name="image" accept="image/*">
      <br>
      <label>Tags:</label>
      <br>
      {{ range .Tags }}
      {{ $checked := false }}
      {{ $currentID := .ID | printf "%d" }}
      {{ range $item := $.Post.Tags }}
      {{ if eq $item $currentID }}
      {{ $checked = true }}
      {{ end }}
      {{ end }}
      <input type="checkbox" name="tags" value="{{ .ID }}"{{ if $checked }} checked{{ end }}> {{ .Name }}<br>
      {{ end }}

      <button type="submit">Edit Post</button>
    </form>
  </div>
  {{ else }}
  <h2>Edit Comment</h2>
  <div class="editComment">
    <form action="/edit/" method="POST">
      <input type="hidden" name="type" value="comment">
      <input type="hidden" name="id" value="{{ .Comment.ID }}">
      <textarea name="content" placeholder="Enter your comment" required>{{ .Comment.Content }}</textarea>
      <br>
      <button type="submit">Edit</button>
    </form>
  </div>
  {{ end }}
  {{ else }}
  <p class="errorMessage">You need to be logged in to edit.</p>
  {{ end }}
</div>
{{ end }}